#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container
{
    text-align: center;
}

#myCarousel, #myCarousel1
{
    margin-right: 379px;
    margin-left : 379px;
}

body
{
    background-color: aqua;
}


