.center {
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
}

p
{
 margin: 100px;
}

.headbar
{
    background-color: peachpuff;
    width: 100%;
    height: auto;
}

ul
{
    list-style: none;
    font-variant-caps: small-caps;
}

